@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-nextUI {
    @apply relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium text-secondary no-underline px-2 py-1 hover:after:opacity-100 after:content-[''] after:inset-0 after:opacity-0 after:w-full after:h-full after:rounded-xl after:transition-background after:absolute hover:after:bg-secondary/20;
  }
}
/* styles/globals.css */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Vazir', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
